.DS_Store
**/.DS_Store
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
.vscode/
*.egg-info/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
Playground_*/
tutorials/*/VectorFieldSurvey/
tutorials/tutorial_5/LongitudinalHelixSweep_R20/
