name: CUDA Build

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: nvidia/cuda:12.3.2-devel-ubuntu22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y cmake g++ make

      - name: Show CUDA version
        run: nvcc --version || echo "No CUDA compiler found"

      - name: Configure CMake
        run: cmake -S . -B build

      - name: Build
        run: cmake --build build -j

      - name: Run basic test
        run: |
          cd build
          ./NuMagSANS NuMagSANSInput.conf || echo "Executable test skipped"
          
