name: Build and Deploy Docs

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get install -y doxygen
          pip install sphinx furo breathe exhale myst-parser

      - name: Build documentation
        run: |
          cd docs
          doxygen Doxyfile
          sphinx-build -b html . _build/html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
